<div>
	<section>
		<div class="container">
			<div class="row">
				<form class="form-signin" name="userForm"
					ng-model="registerController.user" role="form">
					<h3 class="form-signin-heading">Formulaire d'inscription</h3>
					<div  id="warningMessage" class="alert alert-danger" role="alert" style="display: none;">
					<p>Login déjà existant!</p></div>
					<div  id="successMessage" class="alert alert-success" role="alert" style="display: none;">
					<p>Enregistrement réussi!</p></div>
					</br> <label class="required" for="username">Votre login</label> <input
						class="form-control" id="username"
						ng-model="registerController.user.pseudo" type="text"
						name="username" placeholder="exemple&nbsp;: jdupont" required
						autofocus> </br> <label class="required" for="password">Votre
						mot de passe</label> <input type="password" id="inputPassword"
						ng-model="registerController.user.password" class="form-control"
						placeholder="Mot de passe" required>
					<div class="checkbox">
						<label> 
						<!-- <input type="checkbox" value="remember-me"> Remember me -->
						<!-- </label> si on a le temps de faire mumuse avec des sessions -->
					</div>
					<button class="btn btn-lg btn-primary btn-block" type="submit"
						ng-click="submit(registerController.user)">S'inscrire</button>
					</br> </br>
				</form>
			</div>
		</div>
	</section>
</div>