<h2>QCM</h2>
<div>
  <div class="timal">
          <h3>10<br><br>Droit aérien et procédures du contrôle de la circulation aérienne</h3>
          </br>

        <form>
          <table ng-model=question ng-repeat = "QR in qcm" class="table table-bordered">
            <thead>
              <tr>
                <th class="idQuestion">{{QR.question.id}}</th>
                <th class="idQuestion">{{QR.question.libelleQuestion}}</th>
              </tr>
            </thead>
               
            <tbody>
            <div class="btn-group" data-toggle="buttons" id="group1">
              <tr ng-model="reponse" class="fondTableau" ng-repeat="reponse in QR.listReponse">
                <th scope="row" id="label">
                <input ng-model="gridRadios" type="radio" id="gridRadiosA" 
                ng-checked="gridRadios" ng-change="checkBoxSelected($parent.$index, reponse)" 
                ng-value="reponse"></th>
                <td ng-model="reponse[reponse.id]">{{reponse.libelleReponse}}</td>
              </tr>
   			 </div>
            </tbody>
          </table>
          </form>
          <input type="submit" ng-click="validate()" value="Valider">

  </div>
</div>